@model IEnumerable<ATNB_Assignment.Models.Author>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle has-arrow" href="#Authors" data-toggle="collapse" aria-controls="Authors" aria-expanded="false">
        <span data-feather="home"></span>
        Authors <span class="sr-only">(current)</span>
    </a>
    <ul class="collapse" id="Authors" name="Author">
        @foreach (var item in Model)
        {
            <li><a href="#" value="@item.AuthorId">@Html.DisplayFor(modelItem => item.AuthorName)</a></li>
        }
    </ul>
</li>

