@model IEnumerable<ATNB_Assignment.Models.Book>
@using ATNB_Assignment.Models;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<aside class="left-sidebar" style="overflow: visible;">
    <nav class="sidebar-nav active">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <h5 class="nav-small-cap">Categories Products</h5>
                @{
                    Html.RenderAction("CategoriesCollapse");
                }
                <div class="clear"></div>
                @{
                    Html.RenderAction("AuthorsCollapse");
                }
                <div class="clear"></div>
                @{
                    Html.RenderAction("PublisherCollapse");
                }
            </ul>
        </div>
    </nav>
</aside>

<div class="page-wrapper" style="min-height: 700px;margin-top: 10px;background-color: white;">
    <div class="container-fluid">
        <div class="row">
            <!-- Column -->
            @foreach (var item in Model)
            {
                <div class="col-lg-4">
                    <div class="card">
                        <span class="image">
                            <img class="card-img-top img-responsive" src="~/Content/Images/@item.ImgUrl" alt="Card image cap">
                        </span>
                        <div class="card-body">
                            <ul class="list-inline font-14">
                                <li class="p-l-0">@Html.DisplayFor(modelItem => item.ModifiedDate)</li>
                                @*<li><a href="javascript:void(0)" class="link">3 Comment</a></li>*@
                            </ul>
                            <h3 class="font-normal">@Html.DisplayFor(modelItem => item.Title)</h3>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        @item.Author.AuthorName
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        $@item.Price
                                    </p>
                                </div>
                            </div>
                            <p class="m-b-0 m-t-10 summary">
                                @item.Summary
                            </p>
                            <div class="row">
                                <a href="/Store/Details/@item.BookId" class="btn btn-info" style="margin-left: 10px;">Read more</a>
                                <a href="#" class="btn btn-success" style="margin-left: 140px;">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <!-- Column -->
        </div>
    </div>
</div>
