<aside class="left-sidebar" style="overflow: visible;">
    <!-- Sidebar scroll-->
    <div class="slimScrollDiv" style="overflow: visible;">
        <div class="scroll-sidebar" style="overflow: hidden; width: auto; height: 100%;">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav active">
                <ul id="sidebarnav" class="in">
                    <li>
                        <form class="app-search" style="display: block;">
                            <input type="text" class="form-control" placeholder="Search &amp; enter"></a>
                        </form>
                    </li>
                    @*<li class="nav-small-cap">PERSONAL</li>*@
                    <li class="">
                        <a class="" href="/Dashboard" aria-expanded="false"><i class="fas fa-tachometer-alt"></i><span class="hide-menu"> Dashboard </span></a>
                    </li>
                    <li>
                        <a class="" href="/BookCategory" aria-expanded="false"><i class="fas fa-book"></i><span class="hide-menu"> Books Category</span></a>
                    </li>
                    <li>
                        <a class="" href="/AuthorManage" aria-expanded="false"><i class="fas fa-users"></i><span class="hide-menu"> Authors Management</span></a>
                    </li>
                    <li>
                        <a class="" href="/PublisherManage" aria-expanded="false"><i class="fas fa-edit"></i><span class="hide-menu"> Publisher Management</span></a>
                    </li>
                    <li>
                        <a class="" href="/BookManage" aria-expanded="false"><i class="fas fa-wrench"></i><span class="hide-menu"> Books Management</span></a>
                    </li>
                    <li>
                        <a class="" href="/Orders" aria-expanded="false"><i class="fas fa-shipping-fast"></i><span class="hide-menu"> Orders</span></a>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <div class="slimScrollBar" style="background: rgb(220, 220, 220) none repeat scroll 0% 0%; width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; left: 1px; height: 104.228px;"></div>
        <div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; left: 1px;"></div>
    </div>
    <!-- End Sidebar scroll-->
</aside>
