<header class="topbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top" style="background-color:#0080ff !important;">
        <a class="navbar-brand" href="/">BookStore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link hover" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" href="#">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Promotions</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto" style="margin-left: 250px; width: 150px;">
                <li class="nav-item active">
                    <a class="nav-link" href="/Store/CustomerCart" ><i class="fas fa-shopping-cart"></i> Your Cart: <strong><b id="amountItems"></b></strong></a>
                </li>
            </ul>
            @using (Html.BeginForm("Result", "Store", FormMethod.Post))
            {
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search" aria-label="Search" style="margin-left: -90px;">
                    <button class="btn btn-success my-2 my-sm-0 hover" type="submit">Search</button>
                </form>
            }
            </div>
    </nav>
</header>
