<aside class="left-sidebar" style="overflow: visible;">
    <nav class="sidebar-nav active">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <h4 class="nav-small-cap">Categories Products</h4>
                @{
                    Html.RenderAction("CategoriesCollapse","Store");
                }
                <div class="clear"><hr /></div>
                @{
                    Html.RenderAction("AuthorsCollapse", "Store");
                }
                <div class="clear"><hr /></div>
                @{
                    Html.RenderAction("PublisherCollapse", "Store");
                }
            </ul>
        </div>
    </nav>
</aside>
